@model LanguageTrainer.API.ViewModels.CreateMistakeViewModel

<div class="ui segment">


    @using (Html.BeginForm("Create", "Mistakes", FormMethod.Post, new { @class = "ui form" }))
    {
        <h3 class="ui dividing header">Create Mistake</h3>

        <div class="two fields">
            <div class="field">
                @Html.LabelFor(model => model.MistakeDto.Error)
                @Html.TextBoxFor(model => model.MistakeDto.Error)
            </div>

            <div class="field">
                @Html.LabelFor(model => model.MistakeDto.Answer)
                @Html.TextBoxFor(model => model.MistakeDto.Answer)
            </div>
        </div>

        <div class="two fields">
            <div class="field">
                <label>Source Type</label>
                @Html.DropDownList("SourceTypeList", Model.SourceTypes.Cast<SelectListItem>(), "Select Source Type", new { @class = "ui dropdown" })
            </div>

            <div class="field">
                <label>Source</label>
                @Html.DropDownListFor(model => model.MistakeDto.SourceId, Model.Sources.Cast<SelectListItem>(), "Select Source", new { @class = "ui dropdown" })
            </div>
        </div>

        <button class="ui button" type="submit">Create Mistake</button>
    }

</div>
